<div class="navbar navbar-default">
  <div class="container-fluid">
      <div class="navbar-header row">
        <div class="col-sm-5">
          <a href="#" class="navbar-brand">SkillStorm Wireless</a>
        </div> 
            <div class="link col-sm-3">
                <a [routerLink]="['/account']" class="link-button btn btn-primary">Account</a>
            </div>
            <div class="link col-sm-3">
                <a [routerLink]="['/chooseyourplan']" class="link-button btn btn-primary">Choose Your Plan</a>
            </div>
            <!--
            <div class="link col-sm-3">
                <a [routerLink]="['/login']" class="link-button btn btn-primary">Login</a>
            </div>
           -->
           <div class="link col-lg-1">
            <a class="link-button btn btn-primary">My Bill</a>
        </div>
    </div>
  </div>
</div>

      <!--<app-user-plan></app-user-plan>-->
       | <!--this creates a hyper link that takes you to /account-->
                                                   <!--added it in the app-routing module ts-->
       
     <!-- <a [routerLink]="['/planspecificationspage']"></a> 
      //<a [routerLink]="['/home']"></a>    -->                                    
      <router-outlet></router-outlet>
   
 

